name: ncc

on:
  push:
    paths:
      - 'ncc/package-lock.json'
      - 'ncc/src/**'

defaults:
  run:
    working-directory: ncc

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: npm
          cache-dependency-path: ncc/package-lock.json
      - run: npm ci
      - uses: planningcenter/balto-utils/ncc@ns/ncc
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          directory: ncc
